.searching_data {
  margin-top: 100px;
  .InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    max-width: 400px;
  }

  .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
  }

  .labelforsearch {
    cursor: text;
    padding: 0px 12px;
  }

  .searchIcon {
    width: 13px;
  }

  .border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
  }

  .micIcon {
    width: 12px;
  }

  .micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .searchIcon path {
    fill: rgb(114, 114, 114);
  }

  .micIcon path {
    fill: rgb(255, 81, 0);
  }

  .micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: 0.3s;
  }
}

#teacher {
  .pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    .page-item {
      .page-link {
        transition: 0.4s;
        font-size: 20px;
        display: block;
        padding: 5px 10px;
        color: cornflowerblue;
        border-radius: 5px;
        border: 1px solid cornflowerblue;
        &:hover {
          background-color: rgba(100, 148, 237, 0.235);
        }
      }
    }
    .active {
      .page-link {
        color: white;
        background-color: cornflowerblue;
        &:hover {
          background-color: rgb(100, 148, 237);
        }
      }
    }
  }
}
