@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

:root {
  --clr: #4e54c8;
}
.card__row, .student_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 125px;
  place-items: center;
  margin-top: 145px;
  @include media(1240px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(793px) {
    grid-template-columns: 1fr;
  }
  .card {
    position: relative;
    width: 320px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card .box {
    position: relative;
    width: 100%;
    height: 200px;
    background: black;
    border-radius: 15px;
    .info {
      margin-left: 54px;
    }
  }
  .card .box:nth-child(1):before {
    content: "";
    position: absolute;
    bottom: 59px;
    left: -1px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -6px 6px var(--clr);
  }
  .card .box:nth-child(1) video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
  }
  .card .box:nth-child(1):after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 97px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -6px 6px var(--clr);
  }
  .card .box:nth-child(2) {
    background: #ffffff;
    height: 250px;
    width: 100%;
  }
  .card .box:nth-child(2):before {
    content: "";
    position: absolute;
    top: 108px;
    left: -1px;
    width: 20px;
    height: 20px;
    z-index: 10;
    /* 	background: red; */
    border-top-left-radius: 20px;
    box-shadow: -6px -6px var(--clr);
  }
  .card .box:nth-child(2):after {
    content: "";
    position: absolute;
    top: -1px;
    left: 109px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -6px -6px var(--clr);
  }

  .card .circle {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translatey(-50%);
    width: 180px;
    height: 180px;
    background: green;
    border-radius: 100%;
    border: 10px solid var(--clr);
    overflow: hidden;
  }
  .card .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: 30px 10px 20px;
  }
  .content h1 {
    font-family: "Sen";
    padding-left: 120px;
    font-size: 22px;
    font-weight: 700;
    color: #0f172a;
    padding-bottom: 30px;
    .email {
      font-style: italic;
      text-transform: lowercase;
    }
  }
  .content h1 span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #475569;
  }

  .content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .content ul li {
    width: 33.33%;
    padding: 0 6px;
  }
  .info-box {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    background: #e2f2ff;
  }
  .info-box span {
    display: block;
    font-weight: 700;
    font-size: 15px;
    padding-top: 4px;
  }
  .cta {
    // margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .phone {
    margin-top: 0px;
    margin-left: 100px;
    .phone_title {
      color: #4e54c8;
      font-weight: bold;
      font-family: "Sen";
    }
    .tell {
      color: #0f172a;
      font-family: "Sen";
    }
  }
  .btn {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    background: var(--clr);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    transform: scale3d(1.05, 1.05, 1);
  }
  .loader {
    --size-loader: 50px;
    --size-orbe: 10px;
    width: var(--size-loader);
    height: var(--size-loader);
    position: relative;
    transform: rotate(45deg);
  }
  
  .orbe {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #070808;
    --delay: calc(var(--index) * 0.1s);
    animation: orbit7456 ease-in-out 1.5s var(--delay) infinite;
    opacity: calc(1 - calc(0.2 * var(--index)));
  }
  
  .orbe::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: var(--size-orbe);
    height: var(--size-orbe);
    background-color: #3ae374;
    box-shadow: 0px 0px 20px 2px #3ae374;
    border-radius: 50%;
  }
  
  @keyframes orbit7456 {
    0% {
    }
  
    80% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  position: absolute;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination ul {
  margin: 65px auto;
  text-align: center;
}

.simple-pagination li a,
.simple-pagination li span {
  color: #ffffff;
  font-family: "Poppins";
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-right: 25px;
}

.simple-pagination .current {
  color: #fff;
  background-color: #3232ff;
  border-color: #4033ff;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background: #0611b4;
}


#loading {
  position: fixed;
  background-color: #070808;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}