.form_wrapper {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 800;
  z-index: 50;
  transition: .5s ease-out;
  #survey-form {
    width: 120%;
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
  }

  form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }

  .form-group {
    padding: 0.25rem;
  }

  .df {
    margin-right: 15px;
  }
  label,
  .label {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  .phone {
    display: flex;
    flex-direction: column;
    input {
      height: 40px;
      border-radius: 4px;
      border: none;
      padding-left: 10px;
      color: #09a8f7;
      font-weight: bold;
      &::placeholder {
        padding-left: 10px !important;
        margin-left: 10px;
      }
    }
  }
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #09a8f7;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    // -webkit-backdrop-filter: blur(11.5px);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  input::placeholder {
    color: #2476fb;
    font-weight: bold;
  }
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }

  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    .submit-button {
      display: block;
      width: 50%;
      padding: 0.75rem;
      background: rgba(255, 255, 255, 0.43);
      // border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //   backdrop-filter: blur(10.3px);
    //   -webkit-backdrop-filter: blur(10.3px);
      border: none;
      color: inherit;
      border-radius: 5px;
      cursor: pointer;
      color: #febc07;
      font-size: 15px;
      font-family: 'Sen';
      font-weight: bold;
      transition: .3s ease-out;
      &:hover{
        transform: translateY(-10px);
        background: #2476fb37;
      }
    }
    .close-modal {
      background: rgba(255, 255, 255, 0.43);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //   backdrop-filter: blur(10.3px);
    //   -webkit-backdrop-filter: blur(10.3px);
      border: none;
      padding: 0  35px;
      border-radius: 5px;
      color: #febc07;
      font-family: 'Sen';
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      transition: .3s ease-out;
      &:hover{
        transform: translateY(-10px);
        background: #2476fb37;
      }
    }
  }

}
.view{
  transition: .5s ease-out;
  right: 10%;
  @include media(610px){
    margin-top: 75px;
    right: 25%;
  }
}
