*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body{
    background: #4e54c8;
    // position: relative;
}


.container{
    max-width: 1280px;
    padding: 0 20px;
    margin:  0 auto;
}

/* Customize the main scrollbar */
body::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    background-color: transparent; /* Make the scrollbar background transparent */
  }
  
  /* Customize the main scrollbar thumb */
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4); /* Adjust the transparency and color as desired */
    border-radius: 5px; /* Adjust the border radius to achieve a glassy effect */
  }
  
  /* Customize the main scrollbar track */
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track transparent */
  }
  
  /* Add a glassy box shadow effect to the main scrollbar */
  body::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    background-color: transparent; /* Make the scrollbar background transparent */
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); /* Adjust the shadow color and intensity */
  }
  

